@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
    font-family: "Plus Jakarta Sans";
}

span , p, h1, h2, h3, h4, h5, h6{
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}


.container {
    max-width: 1220px;
}

.dark body {
    background-color: #000 !important;
}